<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5" data-provider-thread-count="1">
	<test name="Reression tests">
		<parameter name="path" value="/"/>


		<classes>
			<class name="com.genefo.DocBasInfTest"/>
			<class name="com.genefo.DocProfInfTest"/>
			<class name="com.genefo.LoginTest"/>
		</classes>
	</test>
</suite>