<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5" data-provider-thread-count="1">
	<test name="Test1">
		<parameter name="path" value="/"/>
		<groups>
			<run>
				<include name="smoke"/>
			</run>
		</groups>

		<classes>
			<class name="com.genefo.DocAcInfTest"/>
			<class name="com.genefo.DocBasInfTest"/>
			<class name="com.genefo.DocProfInfTest"/>
			<class name="com.genefo.LoginTest"/>
			<class name="com.genefo.ProfileDoctorTest"/>
			<class name="com.genefo.SignUpHCPTest"/>
			<class name="com.genefo.PostOnMainTest"/>
			<class name="com.genefo.WhatWorksOnMainTest"/>
			<class name="com.genefo.MDRatingTest"/>

		</classes>
	</test>  
</suite>